.section-container {
  margin: 20px;
}
.title {
  font-weight: bold;
  font-size: 32px;
}
.text {
  font-size: 18px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .section-container {
    margin-top: 30px 40px 0;
  }
  .title {
    font-weight: bold;
    font-size: 28px;
  }
  .text {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1140px) {
  .section-container {
    margin: 190px auto 0;
    max-width: 750px;
  }
  .title {
    font-weight: bold;
    font-size: 42px;
  }
  .text {
    font-size: 24px;
    line-height: 32px;
  }
}
