.body{
  background-color: rgb(180, 175, 175);
  height: 100vh;
}
h1{
  font-weight: bold;
  font-size: 50px;
  padding-bottom: 20px;
}
.nav{
  background-color: greenyellow;
}
.main-heading{
  background-color: yellow;
}
h2{
  font-weight: bold;
  font-size: 40px;
  padding-bottom: 20px;
}
.aside{
  background-color: rgb(107, 101, 107);
  margin: 10px 0 10px;
  
}
h3{
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 20px;
}
@media all and (min-width:480px){
  .nav{
    position: fixed;
    left: 0;
    width: 150px;
  }
  .main-heading{
    width: 80vw;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
  }
  .aside{
    width: 80vw;
    position: relative;
    top: 156px; 
    left: 210px;
  }
}
@media all and (min-width:1000px){
  .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .main-heading{
    width: 50vw;
    height: 500px;
    position:static;
  }
  .nav{
    height: 100px;
    width: 10vw;
    position: static;
  }
  .aside{
    height: 200px;
    position: static;
    width: 30vw;
  }
}
