* {
    box-sizing: border-box;
    padding: 0;
    margin: 0
  }
  
  body {
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .list{    
    min-width: 300px;
    border: 2px solid black;
    list-style: none;
  }
  .title{
    text-decoration: underline;
  }
  .img{
    width: 200px;
    height: 200px;
  }
  
  .lightBlue{
background-color: aqua;
  }