.form {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(221, 220, 209, 1) 7%,
    rgba(0, 212, 255, 1) 100%
  );
  border: solid 2px black;
  max-width: 400px;
}
input {
  margin: 5px;
}
.button{
    border-radius: solid 3px green;
    background-color: green;
    color: white;
}
