:root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image {
    width: 800px;
    height: 800px;
    display: block;
    border: solid 2px lightskyblue;
    background-color: lightblue;
}
