.form__label {
  display: block;
  margin-top: 1rem;
}

.form__input-text {
  margin: 0;
}

.help {
  display: inline-block;
  margin-top: 0.3rem;
  padding: 0.2rem;
  font-size: 0.8rem;
  border: 1px solid #ccc;
}