.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fc0;
  height: 100px;
  position: relative;
  width: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
}
.face {
  font-family: "courier new", serif;
  font-size: 2.5em;
  font-weight: bold;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -60%) rotate(90deg);
}
/*EJERCICIO 1
Ticket #1: Centrar el careto
Este señor está como apartado, en una esquina... eso no puede ser, debería estar centrado vertical y horizontalmente en la pantalla.*/
