.appleImg {
  height: 300px;
}
.buttonPlus, .buttonMinus, .buttonReset {
  color: #f2f2f2;
  width: 150px;
  height: 50px;
  background-color: #bb0f1e;
  border-radius: 15px;
  text-transform: uppercase;
  border: none;
}
.button:hover {
  background-color: #babf21;
  box-shadow: 10px 10px 20px rgba(81, 115, 47, 0.4);
  color: #b13b0c;
  transform: translateY(-3px);
}
