:root {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightyellow;
}

.cityImage {
    width: 90vw;
    height: 90vh;
    display: block;
    border: solid 4px black;
}
